<div class="container">
    <div class="loginContainer">
        <div class="formContainer">
            <p class="signUp">SignUp</p>
            <form [formGroup] = "registerForm" (ngSubmit) = "onSubmit()" >
                <input formControlName = "username" class="input" type="text" placeholder="login" />
                <input formControlName = "password" class="input" type="text" placeholder="password" />
                <button type="submit button" class="subButton">Enter</button>
                <a routerLink = "/auth" href="">Allready has account</a>
            </form>
        </div>
    </div>
</div>