.container{
    display: flex;
    flex-direction: column;
}

.eventContainer{
    background-color: lavender;
    height: 7vh;
    width: 50vw;
    border-radius: 1vh;
}

.title{
    font-size: 3vh;
}

.newEvents{
    margin-top: 2vh;
    height: 5vh;
    width: 15vw;
    border: none;
    border-radius: 1vh;
}