<div class="container">
    <div class="filterContainer">
        <div>
            <label class="title">Дата проведения</label>
            <div>
                <p class="date">От <input class="dateInput" type="date" name="startsMin" [(ngModel)] = "startsMin"> до <input class="dateInput" type="date" name="startsMax" [(ngModel)] = "startsMax"></p>
            </div>
        </div>
        <form [formGroup] = "filterForm" (ngSubmit) = "onSubmit()">
            <div class="formGroup">
                <label class="title">Типы</label>
                <div class="flexContainer">
                    <div *ngFor = "let type of filterForm?.get('types')['controls']; let i = index;" class="checkboxContainer">
                        <input class="check" type="checkbox" [formControl] = "type">
                        <p class="checkName">{{types[i].name}}</p>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label class="title">Категории</label>
                <div class="flexContainer">
                    <div *ngFor = "let category of filterForm?.get('categories')['controls']; let i = index;" class="checkboxContainer">
                        <input class="check" type="checkbox" [formControl] = "category">
                        <p class="checkName">{{categories[i].name}}</p>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label class="title">Города</label>
                <div class="flexContainer">
                    <div *ngFor = "let place of filterForm?.get('places')['controls']; let i = index;" class="checkboxContainer">
                        <input class="check" type="checkbox" [formControl] = "place">
                        <p class="checkName">{{places[i].name}}</p>
                    </div>
                </div>
            </div>
        </form>
        <div class="btnContainer">
            <button class="btn" type="submit" (click) = "onSubmit()">Применить</button>
        </div>       
    </div>
</div>