<div class="container">
    <div class="infoContainer">
        <div class="imgContainer">
            <img class="userImg" src="base64Img" alt="">
        </div>
        <div class="textContainer">
            <p>{{userInfo.first_name}} {{userInfo.last_name}}</p>
            <br>
            <p>{{userInfo.status.name}}</p>
            <p>{{userInfo.email}}</p>
            <p>{{userInfo.phone}}</p>
            <p>{{userInfo.city.name}}</p>
            <button click = "logout()">Выйти</button>
        </div>
    </div>
</div>
