$primaryBackground: #e9e9e9;
$secondaryBackground: #ddd;
$primary: #7dbcbb;
$textBlack: #2f2f2f;
$textWhite: #fff;
$containerColor: #fcfcfc;

.mainContainer{
    display: flex;
    width: 85vw;
    justify-content: space-evenly;
}

.container{
    display: flex;
    font-family: 'gothamPro';
}

.infoContainer{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 300px; 
    height: 300px;
    overflow: hidden;
    background: #fff;
    border-radius: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: -6px -6px 10px 5px rgba(255,255,255,1), 6px 6px 10px 5px rgba(177, 173, 166, 0.51);
}

.userImg{
    cursor: pointer;
    display: block;
    width: 300px;
    height: 300px;
}

.textContainer{
    width: 100%;
    height: 35vh;
    background-color: $primaryBackground;
    // border: 1px solid $textBlack;
    border-radius: 1vh;
    box-shadow: -6px -6px 10px 5px rgba(255,255,255,1), 6px 6px 10px 5px rgba(177, 173, 166, 0.51);
}

.invisible{
    display: none;
}

.visible{
    display: none;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.changeContainer{
    width: 20vw;
    background-color: $primaryBackground;
    // border: 1px solid $textBlack;
    border-radius: 1vh;
    box-shadow: -6px -6px 10px 5px rgba(255,255,255,1), 6px 6px 10px 5px rgba(177, 173, 166, 0.51);
    height: 60vh;
}

.changeBtn{
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../../../../imges/icons/icons8-settings-128.png);
    background-size: 100%;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: -6px -6px 16px 0 rgba(255,255,255,1), 6px 6px 16px 0 rgba(160, 157, 151, 0.51);
}

.status{
    margin-top: 0;
}

hr{
    margin-top: 0;
    margin-bottom: 2vh;
}

.formMode{
    height: 70vh;
}

.logOutBtn{
    outline: none;
    width: 50%;
    height: 2.5rem;
    border-radius: 1vh;
    background: linear-gradient(to bottom right, #76b1b1, #8cd3d2);
    border: none;
    color: $textWhite;
    cursor: pointer;
    box-shadow: -6px -6px 16px 0 rgba(255,255,255,1), 6px 6px 16px 0 rgba(194, 189, 181, 0.51);
}

.logOutBtn:active{
    box-shadow: inset -6px -6px 16px 0 rgba(255,255,255,1), inset 6px 6px 16px 0 rgba(194, 189, 181, 0.51);
    background: $primaryBackground;
    background-color: $primaryBackground;
    color: $primary;
}

.FIO{
    font-size: 2em;
    margin-bottom: 0;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select{
    margin-top: 1vh;
    width: 80%;
    height: 3vh;
    border-radius: 1vh;
}

.infoChange{
    width: 80%;
    height: 3vh;
    border-radius: 1vh;
    border: 1px solid $textBlack;
}

.formGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subChanges{
    width: 40%;
    height: 2.5rem;
    border: none;
    background-color: $primary;
    border-radius: 1vh;
    color: $textWhite;
    margin-top: 1vh;
    outline: none;
}

.imgContainer > input{
    display: none;
}

.changePassLoginContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.changeLoginContainer{
    background-color: $primaryBackground;
    width: 20vw;
    height: 27vh;
    border-radius: 1vh;
    box-shadow: -6px -6px 10px 5px rgba(255,255,255,1), 6px 6px 10px 5px rgba(177, 173, 166, 0.51);
}

.changePassContainer{
    background-color: $primaryBackground;
    width: 20vw;
    height: 27vh;
    border-radius: 1vh;
    box-shadow: -6px -6px 10px 5px rgba(255,255,255,1), 6px 6px 10px 5px rgba(177, 173, 166, 0.51);
}
@media screen and(max-width: 420px) {
    .infoContainer{
        width: 100%;
    }

    .textContainer{
        border-radius: 0;
        height: 50vh;
    }

    .userImg{
        width: 220px;
        height: 220px;
    }

    .status{
        font-size: 1.2rem;
    }

    .changeContainer{
        width: 100%;
        height: 90vh;
        background-color: $containerColor;
        border: 1px solid $textBlack;
    }

    .infoChange{
        height: 6vh;
    }

    select{
        margin-top: 0;
        height: 6vh;
    }

    .subChanges{
        margin-top: 5vh;
    }
}