<div class="container">
    <div class="loginContainer">
        <div class="imgContainer">

        </div>
        <div class="formContainer">
            <p class="signIn">SignIn</p>
            <form [formGroup] = "loginForm" (ngSubmit) = "onSubmit()" >
                <input formControlName = "username" class="input" type="text" placeholder="login" />
                <input formControlName = "password" class="input" type="text" placeholder="password" />
                <button type="submit button" class="subButton">Enter</button>
            </form>
        </div>
    </div>
</div>