<div class="container">
    <div class="loginContainer">
        <div class="formContainer">
            <p class="signUp">SignUp</p>
            <form [formGroup] = "registerForm" (ngSubmit) = "onSubmit()" >
                <div class="formGroup">
                    <p class="inputDescription">Логин</p>
                    <input formControlName = "username" class="input" type="text" placeholder="" />
                </div>
                <div class="formGroup">
                    <p class="inputDescription">Пароль</p>
                    <div class="wrapInput">
                        <input #password formControlName = "password" class="input" type="password" placeholder="" />
                        <input class="inputVisible" type="text" (mouseenter) = "changePassVisibility($event)" (mouseleave) = "changePassVisibility($event)" value="">
                    </div>                    
                </div>
                <div class="formGroup">
                    <p class="inputDescription">Имя</p>
                    <input formControlName = "firstName" class="input" type="text" placeholder="" />
                </div>
                <div class="formGroup">
                    <p class="inputDescription">Фамилия</p>
                    <input formControlName = "lastName" class="input" type="text" placeholder="" />
                </div>
                <select formControlName = "stack" name="select" id="">
                    <option *ngFor = "let stack of stacks" value="stack.id">{{stack.name}}</option>
                </select>  
                <button type="submit button" class="subButton">Войти</button>
                <a routerLink = "/auth" href="">Уже есть аккаунт?</a>
            </form>
        </div>
    </div>
</div>