$primaryBackground: #e9e9e9;
$secondaryBackground: #ddd;
$primary: #7dbcbb;
$textBlack: #2f2f2f;
$textWhite: #fff;
$containerColor: #fcfcfc;

.filterContainer{
    position: relative;
    width: 23vw;
    height: 70vh;
    background-color: $primaryBackground;
    border-radius: 1vh;
    overflow: scroll;
    // border: 1px solid $textBlack;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 2vh;
    box-shadow: -3px -3px 10px 5px rgb(250, 248, 248), 3px 3px 10px 5px rgba(177, 173, 166, 0.51);
}

.dateContainer{
    margin: 2vh;
}

.formContainer{
    margin: 2vh;
    margin-bottom: 0;
}

.dateInput{
    border-radius: 1vh;
    border: 1px solid $textBlack;
    width: 8.5rem;
}

.date{
    text-align: center;
}

.checkboxContainer{
    display: flex;
    align-items: center;
}



.btn{
    outline: none;
    background: linear-gradient(to bottom right, #76b1b1, #8cd3d2);
    border: none;
    border-radius: 1vh;
    height: 4vh;
    width: 150px;
    color: $textWhite;
    font-size: 1.05rem;
    box-shadow: -6px -6px 16px 5px rgba(255,255,255,1), 6px 6px 16px 5px rgba(194, 189, 181, 0.51);
}

.btn:active{
    box-shadow: inset -6px -6px 16px 0 rgba(255,255,255,1), inset 6px 6px 16px 0 rgba(194, 189, 181, 0.51);
    background: $primaryBackground;
    background-color: $primaryBackground;
    color: $primary;
}

.btnContainer{
    background-color: $primaryBackground;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    height: 80px;
}

.formGroup{
    margin-top: 2vh;
}

hr{
    height: 1px;
    border: none;
    background-color:  #adb5bd;
}

.title{
    margin-left: 9%;
    font-weight: bold;
}

.flexContainer{
    margin-top: 1vh;
    margin-left: 2%;
}

.check{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.check+label{
    margin-top: 0;
    margin-bottom: 2vh;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.check+label::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.check:checked+label::before{
    border-color: $primary;
    background-color: $primary;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

@media screen and(max-width: 420px) {
    .container{
        display: flex;
        justify-content: center;
    }

    .filterContainer{
        border-radius: 0;
        width: 92vw;
        height: 90vh;
        box-shadow: none;
        margin-bottom: 7vh;
    }

    .btn{
        width: 70vw;
        height: 5vh;
    }

    // .title{
    //     margin-top: 4vh;
    // }

    .formGroup{
        margin-top: 2vh;
    }
}