$primaryBackground: #f2f2f2;
$secondaryBackground: #ddd;
$primary: #7dbcbb;
$textBlack: #2f2f2f;
$textWhite: #fff;
$containerColor: #fcfcfc;

.mainContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.header{
    position: absolute;
    z-index: 9;
}

.container{
    margin-top: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title{
    font-size: 3.5vh;
    font-family: 'gothamPro';
}

.list{
    list-style: none;
    padding: 0;
    
}

.event{
    width: 50vw;
    font-family: "GothamPro";
    padding: 7px 20px;
    margin-bottom:10px;
    border-radius: 5px;
    // border: 1px solid $textBlack;
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    background-color: $containerColor;
    box-shadow: 0 0 4px 2px $secondaryBackground;
    position: relative;
    display: flex;
    align-items: center;
}

.eventTime{
    position: absolute;
    right: 2vw;
}

.co{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    background-color: $primary;
    border: none;
    border-radius: 1vh;
    width: 12vw;
    height: 5vh;
    color: $textWhite;
    font-size: 1.1rem;
    box-shadow: 0 0 4px 2px $secondaryBackground;
    font-family: 'gothamPro';
}

.filterIcon{
    display: none;
}

@media screen and(max-width: 420px) {
    .mainContainer{
        align-items: center;
        
    }

    .container{
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .filter{
        display: none;
    }

    .event{
        width: 80vw;
        height: 13vh;
        margin-top: 0;
        margin-bottom: 2vh;
    }

    .btn{
        width: 70vw;
        height: 6vh;
    }

    .filterIcon{
        display: block;
        background-image: url(../../../../imges/icons/filterOn.png);
        background-size: 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
    }

    .filterIconChanged{
        display: block;
        background-image: url(../../../../imges/icons/filterOff.png);
        background-size: 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
    }

    .titleContainer{
        display: flex;
        position: relative;
        width: 85vw; 
        align-items: center;
        justify-content: center;       
    }

    .filterOn{
        display: block;
    }

    .listOff{
        display: none;
    }
}

