<app-header></app-header>
<div class="container">
    <div class="co">
        <p class="title">Мероприятия</p>
        <div class="event-list">
            <ul class="list">
                <li *ngFor = "let event of events" class="event" (click) = "navToEvent(event.id)">
                    <p>{{event.name}} {{event.event_time}} {{event.type}}</p>
                </li>
            </ul>
        </div>
        <button class="btn" (click) = "loadMore()">Смотреть больше</button>
    </div>
    <app-filter (setParams) = "setParams($event)"></app-filter>
</div>
