.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title{
    font-size: 3.5vh;
}

.list{
    list-style: none;
    padding: 0;
}

.event{
    width: 50vw;
    font-family: "GothamPro";
    padding: 7px 20px;
    margin-bottom:10px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
     2px 2px 5px 0 rgba(0,0,0,.1),
     -2px 2px 5px 0 rgba(0,0,0,.1);
     font-size: 20px;
     letter-spacing: 2px;
     transition: 0.3s all linear;
}