<div class="containerHeader">
    <div class="title">
        <div class="img" routerLink = "/"></div>
    </div>
    <div class="inputContainer">
        <input type="text" class="search input search-input" placeholder = "search by name"/>
    </div>               
    <a routerLink = "/auth" class = "text">SignIn</a>
    <a routerLink = "/auth/register" class = "text">SignUp</a>    
    <a routerLink = "/events" class="text">мероприятия</a>
    <a routerLink = "/user" class="text">user</a>
</div>
