$primaryBackground: #f2f2f2;
$secondaryBackground: #ddd;
$primary: #7dbcbb;
$textBlack: #2f2f2f;
$textWhite: #fff;
$containerColor: #fcfcfc;

$containerWidth: 100%;

@font-face{
    font-family: gotham;
    src: url(../../../../../node_modules/gotham-fonts/fonts/GothamRounded-Medium.ttf)
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerHeader{
    width: 100vw;
    margin-top: 0;
    height: 10vh;
    background-color: $primaryBackground;

    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;   
}

.title{
    display: flex;
    font-size: 2vh;
}

.text{
    color: $textBlack;
    margin: 1vw;
}

.search{
    outline: none;
    border: none;
    border-bottom: 1px solid #555555;
    width: $containerWidth/2;
    height: 3vh;
    font-size: 2vh;
    background-color: $primaryBackground;
    
    
}

.search:focus{
    border-bottom: 2px solid rgb(37, 37, 37);
    transition: all 0.4s;
}

.inputContainer{
    width: $containerWidth/1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    width: 100px;
    height: 50px;
    background-image: url(../../../imges/logo/лого2.svg) ;
    background-size: 100%;
}

.userImg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

a{
    text-decoration: none;
    font-family: gotham;
}

.searchResultContainer{
    width: 40vw;
    height: 50vh;
    background-color: $primaryBackground;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px 7px #666666;
    border-radius: 0 0 1vh 1vh;
}

.event{
    width: 100%;
    background-color: $textWhite;
    height: 5vh;
    margin-bottom: 0;
    border-top: 1px solid $textBlack;
    border-bottom: 1px solid $textBlack;
}

.eventsTitle{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.eTitle{
    margin-left: 2vw;
}

.mobileSearchContainer{
    display: none;
}

@media screen and(max-width: 420px) {
    .containerHeader{
        width: 100vw;
        position: fixed;
        bottom: 0;
        justify-content: space-evenly;
        z-index: 1000;
    }

    .img{
        outline: none;
        width: 50px;
        height: 50px;
        background-image: url(../../../imges/icons/icons8-home-96.png);
        background-size: 100%;
    }

    .inputContainer{
        display: none;
    }

    .mobileSearch{
        outline: none;
        width: 50px;
        height: 50px;
        background-image: url(../../../imges/icons/icons8-search-96.png);
        background-size: 100%;
    }

    .text{
        display: none;
    }

    .events{
        outline: none;
        width: 50px;
        height: 50px;
        background-image: url(../../../imges/icons/events.png);
        background-size: 100%;
    }

    .userImg{
        display: none;
    }

    .userMobile{
        outline: none;
        margin-left: -10%;
        width: 50px;
        height: 50px;
        background-image: url(../../../imges/icons/user.png);
        background-size: 100%;
    }
}
@media screen and(max-width: 380px) {
    .containerHeader{
        position: fixed;
        bottom: 0;
        justify-content: space-evenly;
    }

    .img{
        outline: none;
        width: 40px;
        height: 40px;
        background-image: url(../../../imges/icons/icons8-home-96.png);
        background-size: 100%;
    }

    .inputContainer{
        display: none;
    }

    .mobileSearch{
        outline: none;
        width: 40px;
        height: 40px;
        background-image: url(../../../imges/icons/icons8-search-96.png);
        background-size: 100%;
    }

    .text{
        display: none;
    }

    .event{
        width: 90vw;
        height: 15vh;
        margin-bottom: 1vh;
        border: 1px solid $textBlack;
        background-color: $containerColor;
        border-radius: 1vh;
    }

    .events{
        outline: none;
        width: 40px;
        height: 40px;
        background-image: url(../../../imges/icons/events.png);
        background-size: 100%;
    }

    .userImg{
        display: none;
    }

    .userMobile{
        outline: none;
        margin-left: -10%;
        width: 40px;
        height: 40px;
        background-image: url(../../../imges/icons/user.png);
        background-size: 100%;
    }

    .mobileSearchContainer{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 90vh;
        background-color: $primaryBackground;
        overflow-y: scroll;
    }

    .mobileInput{
        width: 90vw;
        height: 5vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border-radius: 1vh;
        border: 1px solid $textBlack;
        font-size: 2rem;
        outline: none;
    }

    .noMobileEvents{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }

    .sadPhoto{
        background-image: url(../../../imges/icons/icons8-sad-100.png);
        width: 100px;
        height: 100px;
    }
}

