<div class="container">
    <div class="containerHeader">
        <div class="title">
            <div class="img" routerLink = "/"></div>
        </div>
        <div class="inputContainer">
            <input (keyup) = "searchEvents($event)" type="text" class="search input search-input" placeholder = "search by name"/>
        </div> 
        <div (click) = "changeSearchVisibility()" class="mobileSearch"></div>              
        <a *ngIf = "!userIsLoggedIn" routerLink = "/auth" class = "text">Вход</a>
        <a *ngIf = "!userIsLoggedIn" routerLink = "/auth/register" class = "text">Регистрация</a>
        <div class="events" routerLink = "/events"></div>    
        <a routerLink = "/events" class="text">мероприятия</a>
        <a *ngIf = "userIsLoggedIn" routerLink = "/user" class="user"><img [src]="imageToShow" class="userImg"></a>
        <div class="userMobile" routerLink = "/user"> </div>
    </div>
    <div *ngIf = "events$ | async as events" class="searchResultContainer">

            <div *ngFor = "let event of events" (click) = "navToEvent(event.id)" class="event">
                <p class="eTitle">{{event.name}}</p>
            </div>

    </div>
    <div *ngIf = "searchVisibility" class="mobileSearchContainer">
        <input (keyup) = "searchEvents($event)" type="text" class="mobileInput">
        <div *ngIf = "events$ | async as events" class="mobileEvents">
            <div *ngFor = "let event of events" (click) = "navToEvent(event.id)" class="event">
                <p class="eTitle">{{event.name}}</p>
            </div>
        </div>
        <div *ngIf = "!events$ || noEvents" class="noMobileEvents">
            <div class="sadPhoto"></div>
            <p>Мероприятий не найдено</p>
        </div>

    </div>
</div>



